.gigs-details-container {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.details-block {
  border: 1px;
  border-color: #202a25;
  border-style: solid;
  padding: 3em;
  margin: 1em;
}
