.gigs-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  min-height: 90vh;

  padding: 1rem;
}

.menu-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.autocomplete-container {
  align-self: flex-start;
  margin-right: 2rem;
}

.card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  width: 100%;
  height: 100%;
  /* min-width: 95%; */
  /* min-height: 100%; */

  margin: 2rem;

  border-radius: 10px;
  background-color: var(--secondary-background-color);
}

.card {
  display: grid;

  width: 27rem;
  min-height: 12rem;

  margin: 20px;
  padding: 20px;

  grid-template-rows: 20px 50px 1fr 50px;
  border-radius: 10px;
  transition: all 0.2s;
  text-decoration: none;
  text-align: left;

  background-color: var(--tertiary-background-color);
  color: var(--text-color);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
}

.card:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.6);
  transform: scale(1.03);
}

.card-banner {
  height: 30%;
  border-radius: 10px;
}

.card-date {
  grid-row: 3/4;
  font-weight: 400;
}
