.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
  min-height: 90vh;
  padding: 1rem;
}

.group-members-container {
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin: 1rem;
  margin-left: 5rem;
}

.autocomplete-option {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  /* border-bottom: 1px black solid; */
  padding: 0.25rem;
}
