.nav-bar-loading {
  background-color: var(--background-color);
  height: 10vh;
}

.nav-bar-container {
  background-color: var(--background-secondary);
  height: 10vh;
}

.profile-picture {
  height: 12vh;
  width: 12vh;
}
