.nav-bar-loading {
  background-color: var(--background-color);
  height: 10vh;
}

.nav-bar-container {
  background-color: var(--secondary-background-color);
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  /* border-bottom: 3px solid #f0ead6; */
}

.profile-picture {
  height: 12vh;
  width: 12vh;
}
