:root {
  --main-background-color: #0c0c0c;
  --secondary-background-color: #121212;
  --decoration-color: #b9d6f2;
  --text-color: #fff;
  --alt-color: #5fdd9d;
}

.App {
  text-align: center;
  background-color: var(--main-background-color);
  color: var(--text-color);
  text-decoration: none;
}

.navlink {
  text-decoration: none;
  color: var(--text-color);
}

.Button {
  color: var(--decoration-color);
}
